@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap%27");

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: #e7e7eb;
}

h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 0.8em;
  margin-left: 9.1%;
  margin-top: 6%;
  margin-bottom: 0;
  width: fit-content;
}

h4 {
  margin-left: 9.1%;
  color: #c2128d;
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 0;
}
.title-span {
  display: block;
  font-weight: 700;
  margin-bottom: 30px;
}

.first-paragraph {
  margin-left: 9.1%;
  margin-top: 0.5%;
  font-size: 0.9em;
}

#first-paragraph-span {
  display: block;
}

.fw700 {
  font-weight: 700;
}

.main-container {
  position: absolute;
  aspect-ratio: 1.7/1;
  height: 90vh;
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  font-size: 60px;
  position: relative;
  width: 20%;
  height: 5%;
  margin-left: 5.5%;
  margin-top: 2%;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

ul {
  font-size: 0.9em;
  margin-top: 3%;
  margin-bottom: 6%;
  margin-left: 8.1%;
}

#consent-checkbox {
  margin-left: 9.1%;
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: solid #fbfbfc 3px;
  border-radius: 2px;
}

#proceed-button {
  font-size: 0.9em;
  font-weight: 700;
  border: 0;
  color: #093256;
  background-color: #00ffff;
  position: relative;
  width: 18%;
  left: 73%;
  bottom: 3%;
  font-weight: 700;
  font-size: 25px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  box-shadow: #00ffff 0px 0px 30px;
}
