@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');

body {
  color: #e7e7eb;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 0.8em;
  margin-left: 9.1%;
  margin-top: 8%;
  margin-bottom: 0;
  width: fit-content;
}

h4 {
  margin-left: 9.1%;
  color: #c2128d;
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 0;
}
.title-span {
  display: block;
  font-weight: 700;
}

.first-paragraph {
  margin-left: 9.1%;
  margin-top: 0.5%;
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 30px;
}

#first-paragraph-span {
  display: block;
}

.fw700 {
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
}

.main-container {
  position: absolute;
  aspect-ratio: 1.7/1;
  height: 90vh;
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  font-size: 60px;
  position: relative;
  width: 20%;
  height: 5%;
  margin-left: 5%;
  margin-top: 2%;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

ul {
  font-size: 0.9em;
  margin-top: 7%;
  margin-bottom: 6%;
  margin-left: 8.1%;
}

#consent-checkbox {
  margin-left: 9.1%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: solid #fbfbfc 3px;
  border-radius: 2px;
}

/* #consent-checkbox {
   WIP: Recreate the checked part 
  margin-left: 9.1%;
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: solid #fbfbfc 3px;
  border-radius: 2px;
} */

#proceed-button {
  font-size: 0.9em;
  font-weight: 700;
  border: 0;
  color: #093256;
  background-color: #00ffff;
  position: relative;
  width: 18%;
  left: 73%;
  bottom: 6%;
  font-weight: 700;
  font-size: 25px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  box-shadow: #00ffff 0px 0px 30px;
}

#question-container {
  position: relative;
  text-align: center;
  top: 11%;
  font-size: 2rem;
}

#question {
  font-weight: 400;
}

#question span {
  display: block;
  font-weight: 700;
}

#buttons-container {
  position: relative;
  width: 80%;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-class {
  /* WIP: Check with longer answer, are we going to leave the same width for every answer or is it going to be adjusting? */
  /* WIP: Check with 2 answers, are they centered? */
  /* WIP: Add black shadow gradient bottom-top */
  height: 50px;
  width: fit-content;
  min-width: 40%;
  font-weight: 700;
  appearance: none;
  background-color: rgba(128, 128, 128, 0.185);
  border-radius: 30px;
  border-width: 3px;
  border-color: #e7e7e7be;
  color: #e7e7eb;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 4%;
  margin-top: 1.5%;
}
.button-class:hover {
  /* WIP: Add shadow gradient bottom-top */
  cursor: pointer;
  background-color: #b20088;
  border-radius: 30px;
  border-width: 3px;
  border-color: #e7e7e7be;
}

#next-button-container {
  /* WIP: Is it adjusting when it has 2 answers? */
  position: relative;
  top: 17%;
  left: 70%;
}

.next-button-class {
  cursor: pointer;
  border: none;
  color: #093256;
  background-color: #00ffff;
  background-image: url(./assets/arrow-forward-outline.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 75%;
  position: relative;
  width: 13%;
  font-weight: 700;
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
}

#question-counter {
  position: relative;
  text-align: center;
  top: 9%;
  left: 20%;
}

#question-counter p {
  letter-spacing: 2px;
  font-size: 16px;
}

#question-counter span {
  color: #9a1381;
  cursor: pointer;
}

.feedback-container {
  font-size: larger;
  text-align: center;
  position: relative;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback-container h1 {
  margin: 0;
}

.feedback-cell {
  display: inline-block;
  margin-inline: 10%;
  margin-block: 2%;
}

.stars-container {
  height: 9%;
  width: 100%;
  margin-bottom: 7%;
}

.stars {
  height: 100%;
  aspect-ratio: 1/1;
  display: inline-block;
  margin-inline: 4px;
  cursor: pointer;
  filter: grayscale();
}

.selected-stars {
  filter: none;
}

.feedback-comment {
  border: 0;
  background-color: transparent;
  width: 92%;
  font-size: x-small;
}

#feedback-comment {
  margin-inline: auto;
  width: 85%;
  border-bottom: solid 1px;
  border-color: #af1488;
}

.feedback-button {
  font-weight: 700;
  color: #0b113b;
  margin-inline: auto;
  margin-top: 5%;
  width: 28%;
  height: 12%;
  background-color: #00ffff;
  box-shadow: 0px 0px 50px 2px #00ffff;
}

.feedback-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 33.4%;
  height: 90vh;
}

.left-container .content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.left-container .percent {
  position: absolute;
  top: 80%;
  bottom: 0;
  right: 0;
  left: 0;
}

.left-container .subtext {
  position: absolute;
  top: 170%;
  font-size: 1.6rem;
  font-weight: 100;
}

.middle-container {
  position: absolute;
  top: 0;
  left: 33%;
  right: 0;
  bottom: 0;
  width: 33.3%;
  height: 90vh;
}

.right-container {
  position: absolute;
  top: 0;
  left: 66%;
  right: 0;
  bottom: 0;
  width: 33.3%;
  height: 90vh;
}

.right-container .content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.right-container .subtext {
  position: absolute;
  top: 170%;
  left: 18%;
  font-size: 1.6rem;
  font-weight: 100;
}

.right-container .percent {
  position: absolute;
  top: 80%;
  bottom: 0;
  right: 0;
  left: 10%;
}

.middle-container h1 {
  margin: none;
  padding: none;
  position: absolute;
  font-size: 3.5rem;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.subheading {
  display: block;
  height: 10%;
  width: 100%;
  position: absolute;
  top: 20%;
  right: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
}

:root {
  --pi: 3.14159265359;
  --a1: 50;
  --a2: 29.5;
}

.container {
  margin-top: 40px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

p {
  position: absolute;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes percent2 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a2) / 100)
      calc(2 * var(--pi) * 300 * calc(1 - var(--a2) / 100));
  }
}

.donut {
  transform-origin: center center;
  transition: 0.5s ease-in-out;
  stroke-dashoffset: 0;
  cursor: pointer;
}

.donut:nth-child(1) {
  transform: rotateZ(-180deg);
  animation: percent1 1s ease-in-out forwards;
}

.donut:nth-child(2) {
  transform: rotateZ(calc(-270deg + calc(var(--a1) * 360deg / 100)));
  animation: percent2 1s ease-in-out forwards;
}

.donut-text {
  text-align: center;
  font-size: 1rem;
}

.certificate {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 100;
}

.blue-donut {
  color: #00ffff;
}

.rate-us {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 60px;
  border: 2px solid white;
  background-color: transparent;
}

.rate-us:hover {
  cursor: pointer;
  background-color: #00ffff;
}

.rate-us p {
  margin: 0;
  position: relative;
  top: 20%;
  font-size: 1.5rem;
  text-align: center;
}

.timer-container {
  /* margin-top: 50px; */
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
}

.timer-container p {
  text-align: center;
}
#seconds {
  font-size: 35px;
}
